.DS_Store
node_modules/
.idea
/debug.log
debug.log

## WP Engine Stuff
mu-plugins/force-strong-passwords/**/*
mu-plugins/stop-long-comments.php
mu-plugins/slt-force-strong-passwords.php
mu-plugins/wpengine-common/**/*
mu-plugins/mu-plugin.php
mu-plugins/x_disable_wpesec.php
plugins/hyperdb/
plugins/hyperdb-1-1/
uploads/*


