/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

.flex-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: gray;


	.container {
		position: relative;
	}

	@media only screen and (min-width: 540px) {
		.container {
			padding: 0 1%
		}
	}

	img {
		background: #cccccc;
		width: 100%;
		max-width: 550px;
		padding-bottom: 10%;
	}

	p {
		position: absolute;
		top: 75%;
		left: 20%;
		transform: translate(-20%, -50%);
		font-size: 1em;
		color: blue;
		width: 100%;
		text-align: center;
	}

	@media only screen and (min-width: 540px) {
		img {
			padding-bottom: 50%;
		}
	}

		.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -4%;
		right: 0;
		height: 97%;
		width: 108%;
		opacity: 0;
		transition: .5s ease;
		background-color: #008CBA;
		}

		@media only screen and (min-width: 540px) {
			.overlay {
				left: 0;
				height: 100%;
				width: 100%;
			}
		}

		.container:hover .overlay {
			opacity: .8;
		  }

		.text {
			color: white;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translate(-5%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
			font-size: .85em;
		}

		svg {
			position: absolute;
			font-size: 2em;
			top:5%;
			left: 80%;
			color: white;
		}

  }