.flex-container {

	.container {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		background-color: pink;
		> * {
			  flex: 1 100%;
			@media only screen and (min-width: 540px) {
				flex: 1 50%;
			}
			@media only screen and (min-width: 768px) {
				flex: 1 25%;
			}
		}
	} 

	.blurb {
		position: relative;
	}

	@media only screen and (min-width: 540px) {
		.blurb {
			padding: 0 1%
		}
	}

	img {
		background: #cccccc;
		width: 100%;
		max-width: 550px;
		padding-bottom: 10%;
	}

	p {
		position: absolute;
		top: 75%;
		left: 20%;
		transform: translate(-20%, -50%);
		font-size: 1em;
		color: blue;
		width: 100%;
		text-align: center;
	}

	@media only screen and (min-width: 540px) {
		img {
			padding-bottom: 50%;
		}
	}

		.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -4%;
		right: 0;
		height: 97%;
		width: 108%;
		opacity: 0;
		transition: .5s ease;
		background-color: #008CBA;
		}

		@media only screen and (min-width: 540px) {
			.overlay {
				left: 0;
				height: 100%;
				width: 100%;
			}
		}

		.blurb:hover .overlay {
			opacity: .8;
		  }

		.text {
			color: white;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translate(-5%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
			font-size: .85em;
		}

		svg {
			position: absolute;
			font-size: 2em;
			top:5%;
			left: 80%;
			color: white;
		}

  }