/**
 * Featured Profiles
 */
.c-featured-profiles {
  $base: '.c-featured-profiles';

  & {
    overflow: hidden;
  }

  &__profile {
    position: relative;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(65%);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    background: linear-gradient(to top, #81c0eb, rgba(#81c0eb, 0));
    color: white;

    #{$base}__profile.is-active & {
      transform: translateY(0%);
      background: rgba(#81c0eb, 0.5);
      box-shadow: 0 0 10px rgba(black, 0.5);
    }
  }

  &__title {
    margin-bottom: 40px;
    transition: font 0.3s ease-in-out;

    #{$base}__profile.is-active & {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}
